.postulate-form {
    .postulate-event-form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 700px;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 20px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #EDEDED;
    }
  
    .card-postulate-form {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: white;
    }
  
    .card-postulate-form.left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 420px;
    }
  
    .card-postulate-form.right{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 420px;
    }
  
    .form-fields-postulate {
      display: flex;
      flex-direction: column;
    }
  
    label {
      margin-bottom: 8px;
      font-weight: bold;
    }
  
    input[type="text"],
    input[type="date"],
    input[type="number"],
    textarea {
      padding: 8px;
      margin-bottom: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
      box-sizing: border-box;
      font-family: inherit;
      font-size: 14px;
    }
  
    textarea {
      height: 100px;
    }
  
    input[type="file"] {
      border: none;
      background-color: transparent;
      color: #0069a3;
      cursor: pointer;
      width: 100%;
    }
  
    .postulate-event {
      padding: 10px;
      background-color: #0069A3;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
      width: 100%;
      box-sizing: border-box;
      width: fit-content;
      font-family: inherit;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 0px;
    }
  
    button:hover {
      
        background-color: #0069A3;
      
      
    }
  }
  .buttons-container-postulate-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .button-container-postulate-form {
    display: flex;
    justify-content: right;
    margin: 20px; 
  }
  .button-back-container-postulate-form {
    display: flex;
    justify-content: left;
    margin-block-start: 20px; 
    margin: 20px; 
  }
  