.menu-sider-user {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 60px;
  height: 100%;
  background: #0069a3;
  color: #ffffff;
  z-index: 1000;
  padding-top: 10px;

  .ant-menu-item-selected {
    background-color: #fff;
    color: black;
  }

  @media (max-width: 768px) {
    height: 100%;
    overflow: hidden;

    &.collapsed {
      display: none;
    }
  }
}
