.admin {
    padding: 0;
    margin-top: 0px;
    .container-admin {
      display: flex;
      flex-direction: column;
      margin-top: 16px;
      .search-card-admin {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../../assets/images/uam2.jpeg');
        background-size: cover; 
        background-position: center;
        width: 100%;
        height: 450px;
        margin-bottom: 50px;
        @media (max-width: 768px){
          height: 200px;
          margin-bottom: 0px;
        }
        .search-input-admin {
          width: 500px;
          @media (max-width: 768px){
            width: 200px;
          }
        }
        .custom-select-admin {
          width: 120px;
          margin-left: 10px;
          .ant-select-selector {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  .category-title-admin {
    margin-left: 100px;
    margin-bottom: 10px;
    @media (max-width: 768px){
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0px;
    }
  }
  
  .events-container-admin {
    overflow-x: auto;
    @media (max-width: 768px){
      margin-left: 0px;
      align-items: center;
      justify-content: center;
    }
  }
  
  .category-row-admin {
    display: flex;
    margin-bottom: 20px;
    margin-left: 100px;
    white-space: nowrap;
    flex-direction: column;
    align-items: start;
    @media (max-width: 768px){
      display: flex;
      margin-left: 0px;
      align-items: center;
      justify-content: center;
    }

    h1{
      margin-left: 100px;
      @media (max-width: 768px){
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 100px;
      }
    }
  }
  
  .activity-cards-row-admin {
    display: flex;
    flex-wrap: wrap;
  }
  